nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-weight: bold;
  background-color: rgba(224, 44, 44, 0.2);
}

.mainNav {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
