nav {
  font-family: Ananda, Arial, Helvetica, sans-serif;
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  min-height: 3.5rem;
  font-weight: bolder;
  color: black;
  font-size: 1.6rem;
  background-color: rgb(218, 36, 36);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.container {
  align-items: center;
}

.mainNav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.container a {
  color: inherit;
  text-decoration: none;

  height: 100%;
}

.mainNav li {
  padding: 1.2rem;
}
.mainNav li:hover {
  color: white;
}

.kart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 4%;
  right: 1%;
  width: 20px;
  height: 20px;
  color: red;
  background-color: antiquewhite;
  border-radius: 50%;
}
