@font-face {
  font-family: Ananda;
  src: url("../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf")
    format("truetype");
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid red; /* Blue */
  border-bottom: 10px solid red; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchBar {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.searchInput {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border-style: none;
  border-bottom: 2px solid red;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  min-width: 300px;
  transition: 300ms ease;
}

.searchInput:focus {
  outline: red;
  outline-style: solid;
}

.shopSections {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: antiquewhite;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex: 1;
}

label {
  margin-left: 3rem;
}

.banner {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  font-family: Ananda, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.banner div {
  padding: 0.3rem;
}

.banner div:hover {
  cursor: pointer;
  color: red;
}

.shopContainer main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  align-content: center;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.card .image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.itemName {
  text-align: center;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.itemPrice {
  text-align: center;
  padding: 0.5rem;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.inputWrapper input {
  height: 20px;
  width: 30px;
  text-align: center;
  border: 2px solid black;
}

.minus,
.plus {
  height: 20px;
  cursor: pointer;
  text-align: center;
  background-color: red;
  border: 1px solid black;
  width: 20px;
}

.addCart {
  border-style: none;
  background-color: antiquewhite;
  border: 1px solid black;
  cursor: pointer;
  align-self: center;
  margin-top: 0.5rem;
  width: 5rem;
  transition: all 0.3s ease;
}

.addCart:hover {
  cursor: pointer;
  background-color: red;
}
.card .image img:hover {
  cursor: pointer;
  transform: scale(1.15);
}
